*{
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    margin: 0;
}

form{
    margin-bottom: 50px;
}

.content{
    width: 90%;
    height: 90%;;
    margin: 3% auto ;
 
}

.content h1{
    text-align: center;
    padding-bottom: 10px;
}

.list{
    display: table;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-top: black solid 2px;
    text-align: center;
}

.th{
    display: table-header-group;
    
}
.tb{
    display: table-row-group;
}

.tr{
    display: table-row;
}

.tr div{
    display: table-cell;
    border-left: solid black 2px;
    border-right: solid black 2px;
    border-bottom: solid black 2px;
}

.th div{
    display: table-cell;
    border-left: solid black 2px;
    border-right: solid black 2px;
    border-bottom: solid black 2px;
}